.imgg{
    width: 33.33%;
    height: 100%;
    overflow: hidden;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
header{
    text-align: center;
    text-decoration:underline;
    font-weight: bolder;
    font-size: large;
}
.hfp{
    width: 50%;
    display: flex;
    justify-content: center;
}
strong{
    font-weight: bold;
    font-size: 50pt;
}
ol{
    word-spacing: 30pt;
}
span{
    text-decoration: underline;
}